body {
  background-color: #caadff;
  margin: 0 10%;
  font-family: Solway;
  }
h1 {
  text-align: center;
  font-family: Solway;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #57b1dc;
  margin-top: 30px;
}
h2 {
  color: #fffbad;
  font-size: 1em;
}

