body {
  background-color: #a3998e;
  margin: 0 10%;
  font-family: 'Solway', sans-serif;
  }
h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #5c5c06;
  margin-top: 30px;
}
h2 {
  color: #e07b2d;
  font-size: 1em;
}

